# Toolchain
utils/toolchain

# Doxygen
doc/html
doxygen.output

# Build Files
bin/
lib/
*.a
*.img
*.o

# Output Files
nanvix-cluster*

# Ctags
tags

# IDEs
start.sh
*.swp
*.swo
*.vscode/
.clangd/
*.json

# KLib Headers
include/nanvix/barelib.h
include/posix/decl.h
include/posix/stdarg.h
include/posix/stddef.h

# HAL Headers
include/arch/
include/grub/
include/machine/
include/nanvix/hal/
include/nanvix/cc.h
include/nanvix/const.h
include/nanvix/hal.h
include/nanvix/hlib.h
include/posix/sys/*
include/posix/decl.h
include/posix/errno.h
include/posix/fcntl.h
include/posix/stdarg.h
include/posix/stdbool.h
include/posix/stddef.h
include/posix/stdint.h
include/posix/stdlib.h
include/posix/unistd.h

# Kernel Headers
include/dev/
include/nanvix/kernel/

# Nanvix Library
include/nanvix/runtime/
include/nanvix/sys/
include/nanvix/config
include/nanvix/limits
include/nanvix/servers
include/nanvix/types

# C Library
include/nanvix/ulib.h

# File system library
include/fs
include/nanvix/fs.h

# Runtime libraries
include/nanvix/config.h
include/nanvix/dev.h
include/nanvix/limits.h
include/nanvix/pm.h
include/nanvix/types.h

# Excludes
!img/*.img
