[submodule "utils"]
	path = utils
	url = https://github.com/nanvix/utils.git
[submodule "contrib/multikernel"]
	path = contrib/multikernel
	url = https://github.com/nanvix/multikernel.git
[submodule "build"]
	path = build
	url = https://github.com/nanvix/build.git
